$2000: Accumulate $2000 on one save file slot. You can spend your money at any time, you just have to have gotten at least $2000 on that save slot in that chapter. (Note that if you continue a file from a previous chapter, the amount gets set to what it was on that previous chapter file's slot. If you start a brand new file, the progress on that slot is reset to 0)

Get an Egg (Original Source): Get an Egg without doing the Door Overflow glitch

Spare/Pacify 10 Enemies: Self explanatory. Note that you have to press the Spare or Pacify buttons on the enemies for them to count (in other words, most bosses do not count because their fights end automatically. The only exception is Jevil since you have to manually pacify him)

Kill 5 Enemies: Defeat enemies with violence (that's attacking until they run away or freezing. Bosses don't count. CH1 enemies count except for Lancer and C. Round).

Bed Inspector: Go right instead of left in the room with the Head Hathies in CH1 and interact with every bed to get the Bed Inspector title

Complete Jevil: Self explanatory

Get the Freeze Ring: Self explanatory

Die: Self explanatory (losing to Punch-Out, Giga Queen and in the CH3 boards does also count as dying)

Buy an item from Seam and Rouxls: Self explanatory. It doesn't matter in what chapter you buy from Seam, as long as you get something from both of the shopkeepers

Complete the Hacker Side Quest: Get all 3 checkmarks in the Cyber Field and talk to Hacker afterwards. They are in:
	- The room with the Tasques between the falling bars in the long hallway before the AGREE2ALL puzzle. There is a chest in the bottom-right corner with a GlowWrist and a checkmark
	- The first and second teacups unlocked after completing the AGREE2ALL puzzle, before the Sweet Cap'n Cakes fight. For the first one, you have to complete the GIASFELFEBREHBER puzzle

Spare/Pacify 25 Enemies: Self explanatory

Buy the Royal Pin (CH2 Mansion Shop): Buy the Royal Pin from Swatch in the Mansion Entrance

Defeat King: Self explanatory

Finish Chapter 1: Self explanatory (the goal is marked specifically when you close the "You decided to go to bed." textbox)

Defeat Giga Queen: Self explanatory (the goal is marked specifically after the fade to white after getting hit by her detachable hand)

Defeat Queen: Self explanatory

Kill 10 Enemies: Self explanatory

Complete the GIASFELFEBREHBER Puzzle: Self explanatory

Collect 2 Bananas: Collect the bananas from Cyber City and Acid Tunnel (they do NOT have to be on the same save file, but you have to collect each of them, you can't collect two of the same one)

Get the Spin Cake: Self explanatory. You get it by taking the broken cake piece from TopChef in CH1, having Malius fix it in the bake sale, and bringing the TopCake back to the chef

Fuse an Item: Fuse any item in CH2+'s Castle Town

Get 2 Eggs: Self explanatory

$3000: Same idea as $2000

Use Susie's Ultimate Heal: Self explanatory

Do 'Fix Us' in all possible Chapters: Use the Fix Us option given by Malius in the Bake Sale in CH1 and in Castle Town in CH2 & CH4

Talk to Starwalker: Talk to Starwalker for the first time in the Scarlet Forest in CH1 by hitting the bell at the end of the room and going back

Get the Dice Brace: In the room with the first Bloxer in CH1 there is a puzzle on the upper wall. The solution is Black, Red, Switch, Black, Switch. The room above has a chest with the Dice Brace in it

Complete All Smorgasbords:
	- CH1: the Smorgasbord appears in the Field where you get the Jevil key part AFTER you reach Card Castle
	- CH2: hit any Werewire in the room after Sweet Cap'n Cakes shop to trigger Smorgasbord
	- CH4: hit the Balthizard in the hidden room located after the invisible pathway in the bottom right of the orbs chase room in Sanctuary 3

Enter the Dark World without using the bed: Don't do bed/armchair skip (not applicable in CH3)

Get the Thorn Ring (Original Source): Get the Thorn Ring in Cyber City

Spare/Pacify 15 Enemies: Self explanatory

Kill 20 Enemies: Same idea as Kill 5 Enemies

Complete 3 Challenges in Party Dojo: Self explanatory (they have to be DIFFERENT challenges)

Complete Spamton NEO (Basement): Self explanatory (the goal is marked specifically when the music cuts)

Complete Both Berdly Encounters: Self explanatory (they do NOT have to be on the same save file, but you have to complete both encounters separately, you can't do two of the same one)

Buy something from Spamton's Shop: Self explanatory

Get 3 ReviveMints: Get 3 of the mints available throughout CH1-4. They are in:
	- CH1 Forest, in the room with the scissor dancers you go down-left and there's a chest
	- CH1 Card Castle, in the room with the scissor dancers after the Head Hathies there's 3 paintings. Interact with all of them then open the chest that's down-left under the door shaped like a clover
	- CH2 Cyber Field, in the room with the Virovirokun that shoots arrows, there's a chest at the bottom of the room. Have the enemy shoot it, then open the chest
	- CH2 Queen's Mansion, in the first room with the fire-shooting paintings, go all the way down and there's a painting with a star on it. Interact with it and it transforms the painting on the left into a chest which you can open
	- CH3 Green Room, from Ramb if you get B or A rank in Board 1
	- CH3 TV World, by properly completing the puzzle which requires the LancerController (the one that gets you to the egg quest), solution is (dig on the green dots): https://i.imgur.com/p24TP65.png
	- CH4 Right of Gerson's Study, the chest in the pink and green piano puzzle room
	- CH4 Sanctuary 2, the room where you move the piano, smash the orange bookshelf and it'll reveal a chest
	- CH4 Sanctuary 1&2, donate 500-1999 D$ to the waterfall and come back to get it from the chest
	- EMBEZZLING MIZZLES DOES NOT COUNT FOR THIS GOAL

Eat Moss: Self explanatory. Found in:
	- CH1: Top right of the cell you're in after the forest chase
    - CH2: The room where you get the ThornRing in snowgrave, interact with it on the top left while on Main Route
    - CH3: Board 2 after exiting the room with the antlions, it's right above the room transition (you'll see the green on the wall)
    - CH4: The really long hallway that brings you to the egg room, it's at the very end of it

Complete the Sweet Cap'n Cakes Battle: Self explanatory (the goal is marked specifically after the end cutscene finishes)

Fill up your inventory: Have 12 CONSUMABLE items in your inventory

Open the Balloon Chest (City Heights): In the giant City Heights room, after getting Noelle to step on the switch, go down and ride the teacups. Go back up and the forcefield which blocks a chest in the top-left corner is gone. Interact with it to release the balloons

Abort Snowgrave after getting the Freeze Ring: Self explanatory

Hit 3 Pipis: Self explanatory (Snowgrave route, pipis maze room)

Complete Spamton NEO (Snowgrave): Self explanatory (the goal is marked specifically when Noelle does her final IceShocks on him)

Complete the Spamton Encounter (Normal): Self explanatory

Complete the Spelling Bee Cutscene (Mansion): Self explanatory (the goal is marked specifically when you regain control at the very end of the cutscene)

Get Captured in Chapter 2: Get captured by Queen in City Heights and get taken to your room in her mansion

Get a Lancer Cookie: Self explanatory. You can get it in CH1's Forest Bake Sale from his stand, or in CH2+'s Castle Town by going to the bakery

Build the FLB Duck (PINK): Build the thrash machine that has a duck head, body and shoes AND have all three parts colored with the pinkest pink there is (it is the 5th color from right to left)

See obj_weirdroute_manipulator: Wrong warp out of Queen's basement in CH2 and trigger the cutscene with Ralsei's glasses. If you are on version 1.17 or older you should see frozen Berdly in the top-left corner. That frozen Berdly is an object called obj_weirdroute_manipulator, hence the goal's name

Recruit Mauswheel: Self explanatory

Lose Tasque Manager: Self explanatory

Recruit Werewerewire: Self explanatory

Lose Werewerewire: Self explanatory

Watch the Lesbian Cutscene: Hold left after the Rouxls fight when Ralsei wonders about what Susie is doing

Beat the Rouxls Fight (CH2/CH3): Self explanatory

Get ReviveDust: This item is found in the Acid Tunnel after defeating the Werewire found near the top of the room

Talk to the Green Swatchling: After defeating Rouxls, do any of the 3 poses with Ralsei and go back left after getting Susie in your party. Talk to the Green Swatchling

Crash With Bagel Overflow: Do bagel overflow but intentionally mess it up so that you get other choicers and crash the game using them

Trigger Milk on the 2nd K.Round fight: Damage K. Round 2 enough so that it drinks milk

Spare Clover without using the Manual (CH1): Self explanatory

Lose Mauswheel: Self explanatory

Watch the Legend: Start watching The Legend in CH1's Castle Town when Ralsei tells you about it

Complete the Dummy Tutorial: Self explanatory. You can do it in any way, you just have to initiate the fight and complete it

Hug Ralsei: Self explanatory. You can do it in:
	- CH1: Select the Hug Ralsei act in the Dummy tutorial fight
	- CH2: Select the Hug Ralsei pose after the Rouxls fight
	- CH4: Talk to him and select "It's okay not to smile" after the Titan fight

Talk to Lancer In The Epilogue: Self explanatory. You either have to do the True Pacifist Ending in CH1 or perform ARMS after defeating King to go back (if you have no idea what that means, don't worry about it)

Spare Ponman: Self explanatory

Beat Triple Rabbick: Self explanatory

Build the Cutest Machine: The cutest thrash machine consists of Flame Head, Plain Body and Sneak Shoes (any colors)

Get a Glowshard: Self explanatory. Can be found in CH1 by going down in the Cliffs in the room with the first slide or in CH2 by going up in the Swatchling hallway room in Queen's Mansion and interacting with every platter

WW into 7 unique rooms: Self explanatory (only applies to CH2 wrong warps done with Menu+Cancel held, so this does not apply to CH1 wrong warps or overflow wrong warps)

Recruit 3 different enemies: Recruit different TYPES of enemies in CH2-4. They do NOT have to be on the same save file

Heal in battles 5 times: Self explanatory. Note that this counts once per SPELL, not per CHARACTER (i.e. if you use Dual Heal, that's +1 to your progress, not +3). The Jevil HP swap from the Pirouette effect doesn't count at all

Hit a baby car: Get lucky in the room after Berdly 2 in Cyber City and have a baby car spawn. Run it over

Full Berdly Spare: Spare Berdly in Cyber Field, in Cyber City and in the Queen fight (by loosening the wire he's held by), all in one playthrough

Equip White Ribbon (CH1/CH3): Self explanatory. The White Ribbon is found in:
	- CH1: the Field's Maze of Death in a chest that's clearly visible when entering the room
	- CH3: the Green Room, from Ramb by getting S or T rank Board 2

Pot Balance: Self explanatory. Complete the pot balancing minigame without triggering the Swatchling fight (you have to exit the room for the goal to be marked. Dropping the pot just before the finish line also works)

Donate D$1:
    - CH1: Talk to the Jigsawry in front of Seam's shop, go to the donation hole and donate One Dark Dollar
    - CH4: Donate at least One Dark Dollar to the water fountain in Sanctuary 1 (left of the Bibliox room above Gerson's study)

Get Both Chests On 2 Maus 1 Maus: After the room in Acid Tunnel with the house maze, there is a room where you can release the maice into 2 chests or 2 houses. Get both chests
	- For the first chest, turn the first house blue
	- For the second chest, leave all the houses red

Use Dual Heal: Self explanatory (this spell only appears in the King and Queen battles)

Pacify 10 Enemies: Self explanatory

Get Ms.Pipis: When you hit a Pipis in the Snowgrave route, there is a 1/100 chance for each enemy to become Ms. Pipis. Get lucky

Speak to Sans: Self explanatory

Place The Egg In Hometown: Self explanatory. In CH1 if you got the egg, place it in Asgore's fridge in the Flower Shop. In CH2, place it in the basket in Sans's store

Visit Rudy: Enter Rudy's room in the hospital

Z Rank Board 1 or 2: Self explanatory

Get to the Tropic of Love: Get to the Tropic of Love with the raft (go right immediately) and interact with the tree on the heart-shaped island

Bomberman Key (Board 1): Get the key that spawns after Susie throws a few bombs in the hidden room found down->left of the cacti in Board 1

Beat Fake Gerson: Self explanatory

Get Pipis: Watch the bonus cutscene in CH3 found in the secret entrance in the bottom left of the second-to-last room of TV World (before the Rouxls battle) if you're starting from a fresh CH3 file OR don't have Spamton NEO defeated OR you're on Weird Route

Recruit Miss Mizzle: Self explanatory

Lose Miss Mizzle: Self explanatory

Recruit Watercooler: Self explanatory

Lose Watercooler: Self explanatory

Beat Titan: Self explanatory (the goal is marked when Susie throws Kris inside)

Beat Tenna: Self explanatory (the goal is marked when you get him to 0 HP after the final attack)

Beat The Knight: Self explanatory

Beat Gerson: Self explanatory (the goal is marked on Susie's final blow after the "missed" heal)

Play MEGALOVANIA on the Big Piano: The notes are CL CL L DR (C = hold C/Ctrl, L = Left, D = Down, R = Right)

Reach the Knight at the start of CH4: Go all the way up on the climb up to the fountain

Beat Nightmare: Self explanatory (the goal is marked on the final blow)

Beat Mike: Self explanatory

Find the 3 Golden Sheets: Self explanatory. They are all found in Sanctuary 1:
	- Go behind the waterfall that's found to the left of the Bibliox encounter room with the narrow paths, interact with the golden ripple, find the blue button and escape. This will also trigger Gerson's tea party scene afterwards
	- Go to the Lower Right room (where you initially meet Gerson) and climb up the middle wall, go in, interact with the golden ripple towards the right and the northern path will unlock. Press the blue button
	- Beat Miss Mizzle

Have a Tea Party With Gerson: See above

Enter Ralsei's Room: Self explanatory (you need to have watched the tea party cutscene in Kris & Susie's room first)

Get PrincessRibbon: It's found in CH4 by completing the climbing challenge to the right of the Biblioxes room in Sanctuary 3

Get 2 Gold Items: This is referring to the rare items you can get by gambling in CH3 (Blue Ribbon, ExecBuffet, ReviveMint, TennaTie, TensionMax)

Spend 1225 Points in the Gamble Machine: Self explanatory

Get GoldWidow: Found by donating 9999+ D$ in the fountain in Sanctuary 1 and coming back to get it in Sanctuary 2

Get BitterTear: Found by donating 2000-9998 D$ in the fountain or by embezzling Miss Mizzle

Defeat 2 Secret Bosses: The bosses who count for this are Jevil, Basement Spamton NEO, Nightmare/ERAM/Shadow Mantle and Gerson/Hammer of Justice

Defeat 2 Main Bosses: The bosses who count for this are King, Queen, Giga Queen, Tenna and Titan

Get Ice Key: Self explanatory

Get Shelter Key: Self explanatory

Get the 4 Ribbons: They are found in:
	- White Ribbon: CH1, in the chest in the Field's Maze of Death or CH3, from Ramb if you get S or T rank Board 2
	- Pink Ribbon: CH2, in the chest to the left of the Ambyu-Lances right after getting Noelle or CH3, from Ramb if you get S or T rank Board 1
	- Blue Ribbon: CH3 by gambling in the B rank gachapon machine
	- PrincessRBN: CH4 by completing the climbing challenge to the right of the Biblioxes room in Sanctuary 3

Kill a Titan Spawn: Self explanatory

Show Compassion to Ralsei: Say Yes to showing him compassion after Susie hops on him to grab the green book for Gerson

Get 4 Photos (Board 2): Self explanatory. The bonus photo is from buying Lancer from the bottom right (take a picture of the price to bring it down to 9 POINTs) and bringing him up to the tunnel (right entrance in the spawn area). Take a photo of the green bath

Get Quiz Key (Board 1): Get the two Qs from answering the quizzes, then bring them to the sphinx to unlock the key that's to the left

B or better rank Susiezilla: Self explanatory. Susiezilla is unlocked by going to the special A-rank room and paying the Pippins 500 POINTs

Find the Among Us Reference: Inspect all the giftboxes in Noelle's house in the room with the vent

Get a Shadow Crystal: Self explanatory

Get a Dog Dollar: Self explanatory. They are found in:
	- CH2: The room where Spamton's dumpster and the moss is. In Main Route it first brings you to the room with the dog that runs you over
	- CH3: Gambling
	- CH4: In Sanctuary 3 go back to Gerson's study, go through the upstairs center door and open the chest

Get Annoying Dog on Rouxls: Wait for Lancer to be unlocked in the CH3 Rouxls fight and wait on your turn for ~33 seconds

Recruit Shuttah: Self explanatory

Lose Shuttah: Self explanatory

Lose Rabbick (CH3): Have Ribbick fully recruited, then encounter the double Ribbick in the room with the trashcans. One of them will be disguised as a Rabbick, just attack them both

Go to the diner with Susie: Have a seat with Susie at the diner in CH4's Light World (you need to have stolen Asriel's money from his nightstand first)

Recruit an enemy in each chapter: Self explanatory

Lanino/Elnina Rematch: Beat the only available dojo challenge in CH4

Obtain 5 Armors: Get this many UNIQUE armors. Note that the starting equipment does NOT count. You have to buy or find things

Obtain 5 Weapons: Get this many UNIQUE weapons. Same conditions as above apply.